# Cargo / Rust Build Artifacts
/target
**/*.rs.bk

# System & IDE Files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
*.log

# Build & Packaging Artifacts
/build/
/build-dir/
/repo/
repo/
.flatpak-build/
.flatpak-builder/
.flatpak-repo/
*.flatpak
*.deb
*.rpm
*.tar.gz
/AppDir/
*.AppImage

# Flutter / Dart dead code remnants
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Python Cache
__pycache__/
*.pyc
linuxdeploy-x86_64.AppImage
.AppImage